.main-bg {
    background-image: url('../../../../assets/hair-book.png');
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    .close-link {
        width: 100px;
        height: 100px;
        display: inline-block;
        top: 18%;
        left: 50%;
        z-index: 1;
        cursor: pointer;
        transform: translateX(-50%);
        .close-icon {
            width: 4.444vw;
            height: 4.444vw;
            margin: auto;
            position: relative;
            margin-top: 1rem;     
        }
    }
    .main-row {
        min-height: 100%;
        min-height: 100vh;
        .video-tut , .hair-book , .workshop {
            position: relative;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 23.611vw;
            height: 25.417vw;
        }
        .mat-display-1 {
            font-size: 2.361vw;
            color: rgba($color: #ffffff, $alpha: .45);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: color .3s ease-out;
        }
        .op-1 {
            color: rgba($color: #ffffff, $alpha: 1.0);
            transition: color .3s ease-in;
        }
        .hair-description {
            top: 65%;
            .mat-body-1 {
                color: rgba($color: #ffffff, $alpha: .4);
            }
        }
        .hidden {
            visibility: hidden;
            transition: visibility .3s ease-out;
        }
        .visible {
            visibility: visible;
            transition: visibility .3s ease-in;
        }
        button {
            height: 3em;
            color: rgba($color: #ffffff, $alpha: .8);
            background-color: rgba($color: #000000, $alpha: .6);
            border-radius: 0 !important;
            padding: .5rem 2rem;
            width: 10rem;
        }
    }
}
.close-icon::after , .close-icon::before {
    content: '';
    width: 100%;
    height: 2px;
    display: block;
    background-color: rgba($color: #d1d1d1, $alpha: .5);
    position: absolute;
    top: 50%;
}
.close-icon::after {transform: rotateZ(45deg);}
.close-icon::before {transform: rotateZ(-45deg);}
.clip {
    clip-path: inset(18.45vw 39vw 18.45vw 38vw);
    -webkit-clip-path: inset(18.45vw 39vw 18.45vw 38vw);
    -moz-clip-path: inset(18.45vw 39vw 18.45vw 38vw);
    -o-clip-path: inset(18.45vw 39vw 18.45vw 38vw);
    -ms-clip-path: inset(18.45vw 39vw 18.45vw 38vw);
    transition: clip-path .3s ease !important;
}
.unclip {
    clip-path: inset(0% 0% 0% 0%) !important;
    -webkit-clip-path: inset(0% 0% 0% 0%) !important;
    -moz-clip-path: inset(0% 0% 0% 0%) !important;
    -o-clip-path: inset(0% 0% 0% 0%) !important;
    -ms-clip-path: inset(0% 0% 0% 0%) !important;
    transition: clip-path .3s ease !important;
}

@media (min-width: 0) {
    .container {
        max-width: 79.167vw !important;
    }
}
@media (min-width: 0) and (max-width: 575.98px) {
    .main-row {
        min-height: 95% !important;
        min-height: 95vh !important;
    }
    .video-tut , .hair-book , .workshop {
        width: 43.611vw !important;
        height: 45.417vw !important;
    }
    .offset-left-xs {
        margin-left: 19%;
    }
    .mat-display-1 {
        font-size: 5.36vw !important;
        width: fit-content;
        font-weight: 300;
    }
    .hair-description {
        top: 60% !important;
    }
    .margin-top {
        margin-top: 10%;
    }
    .clip {
        clip-path: inset(38% 26vw 36% 29vw);
        -webkit-clip-path: inset(38% 26vw 36% 29vw);
        -moz-clip-path: inset(38% 26vw 36% 29vw);
    }
    button {
        font-size: 2.904vw;
        width: 23.889vw !important;
        padding: 0.3em 1em !important;
    }
    .mat-body-1 {
        font-size: 3.17vw !important;
    }
    .close-link {
        top: 18% !important;
    }
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
    .video-tut , .hair-book , .workshop {
        width: 24.611vw !important;
        height: 26.417vw !important;
    }
    .clip {
        clip-path: inset(45.6vw 11vw 45.6vw 65vw);
        -webkit-clip-path: inset(45.6vw 11vw 45.6vw 65vw);
        -moz-clip-path: inset(45.6vw 11vw 45.6vw 65vw);
    }
    button {
        font-size: 1.904vw;
    }
}
@media (width: 768px) {
    .clip {
        clip-path: inset(40% 37vw 40% 39vw);
        -webkit-clip-path: inset(40% 37vw 40% 39vw);
        -moz-clip-path: inset(40% 37vw 40% 39vw);
    }
    button {
        font-size: 1.904vw;
    }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 769px) and (max-width: 991.98px) {
    .clip {
        clip-path: inset(33% 38vw 33% 38vw);
        -webkit-clip-path: inset(33% 38vw 33% 38vw);
        -moz-clip-path: inset(33% 38vw 33% 38vw);
    }
    .hair-description {
        bottom: 2%;
        top: unset !important;
    }
    button {
        font-size: 1.904vw;
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1024.98px) {
    .clip {
        clip-path: inset(33% 38vw 33% 38vw);
        -webkit-clip-path: inset(33% 38vw 33% 38vw);
        -moz-clip-path: inset(33% 38vw 33% 38vw);
    }
    button {
        font-size: 1.904vw;
    }
}
@media (min-width: 1025px) and (max-width: 1112.98px) {
    .clip {
        clip-path: inset(33% 38vw 33% 38vw);
        -webkit-clip-path: inset(33% 38vw 33% 38vw);
        -moz-clip-path: inset(33% 38vw 33% 38vw);
    }
    button {
        font-size: 1.904vw;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1366px) {
    .clip {
        clip-path: inset(28% 38.5vw 28% 38vw);
        -webkit-clip-path: inset(28% 38.5vw 28% 38vw);
        -moz-clip-path: inset(28% 38.5vw 28% 38vw);
    }
}

/* inset(41% 26vw 33% 29vw) 450* */