<div class="container">
    <div class="row justify-content-between align-items-center">
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-5 offset-left-xs margin-top">
            <a routerLink='/learn/video-tutorials' (click)="onLearnClick()">
                <div class="video-tut">
                    <div class="mat-display-1 d-table">Video Tutorials</div>
                </div>
            </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-5 offset-left-xs">
            <a routerLink='/learn/hair-book' (click)="onLearnClick()">
                <div class="hair-book">
                    <div class="mat-display-1">Hair Book</div>
                </div>
            </a>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-5 offset-left-xs">
            <a routerLink='/learn/workshops' (click)="onLearnClick()">
                <div class="workshop">
                    <div class="mat-display-1">Workshops</div>
                </div>
            </a>
        </div>
    </div>
</div>