@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$KS-App-primary: mat-palette($mat-indigo);
$KS-App-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$KS-App-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$KS-App-theme: mat-light-theme($KS-App-primary, $KS-App-accent, $KS-App-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($KS-App-theme);

/* You can add global styles to this file, and also import other style files */

/////CSS Resets///////
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* {
    &:active,
    :focus {
      outline: none !important;
    }
}
label {
    margin-bottom: 0;
}
a {color: currentColor;}
a:hover {
  color: currentColor;
  text-decoration: none;
}
label {
  a:hover {
    color: currentColor;
  }
}
router-outlet ~ * {
  position: absolute;
  height: 100%;
  width: 100%;
}
/////CSS Resets END///////

.mat-sidenav-content {
  overflow-x: hidden !important;
}

/////Typography Sizes//////
.mat-headline {
  font-size: calc(.96vw + .5em);
  font-weight: 300;
}
.mat-body-1 {
  font-size: calc(.628vw + .5em);
  font-weight: 300;
  line-height: 1.45;
}
/////Typography Sizes END///////

/* @font-face {
  font-family: 'Theano-Didot-Regular';
  src:  url('assets/Fonts/Theano-Didot-Regular.ttf.woff') format('woff'),
  url('assets/Fonts/Theano-Didot-Regular.ttf.svg#Theano-Didot-Regular') format('svg'),
  url('assets/Fonts/Theano-Didot-Regular.ttf.eot');
  font-weight: normal;
  font-style: normal;
} */
@font-face {
  font-family: "didot_lightregular";
  src: url("assets/fonts/didot-htf-l64-light.eot");
  src: url("assets/fonts/didot-htf-l64-light.eot?#iefix") format("embedded-opentype"), url("assets/fonts/didot-htf-l64-light.woff") format("woff"), url("assets/fonts/didot-htf-l64-light.ttf") format("truetype"), url("assets/fonts/didot-htf-l64-light.svg#didot_htf-l64-lightregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.zoomify , .zoomify.zoomed {
  cursor: pointer !important;
}
.zoomify-shadow.zoomed {
  cursor: default !important;
  z-index: 0;
}

/////////////CAROUSEL STYLES///////////////////////
.mat-body-1 {color: #ffffff;}
.owl-carousel , .owl-carousel .owl-stage-outer {
  position: static;
  overflow: visible;
}
.owl-stage {
  .owl-item {
    opacity: 0;
    transition: opacity .4s ease-out !important;
  }
  .active {
    opacity: 1;
    transition: opacity .4s ease-in !important;
  }
}

.owl-nav .disabled {
  opacity: 0 !important;
  transition: opacity .4s ease-out !important;
}
.owl-next , .owl-prev {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  position: absolute;
  top: 0;
  margin-top: .7rem !important;
  bottom: 8%;
  border-radius: 0 !important;
  background-color: rgba($color: #000000, $alpha: .2) !important;
  opacity: 1 !important;
  transition: opacity .4s ease-in !important;
  .material-icons {
    font-size: 4em;
  }
}
.owl-next {right: 0;left: 89%;}
.owl-prev {left: 0;right: 89%;}
.owl-prev:hover , .owl-next:hover {
  background-color: rgba($color: #000000, $alpha: .2) !important;
}
.carousel-deactive {
  opacity: 0 !important;
  transition: opacity .2s ease-out !important;
}
@media (min-width: 0) {

}
@media (min-width: 0) and (max-width: 575.98px) {
  .owl-next , .owl-prev {
    background-color: rgba($color: #000000, $alpha: 0) !important;
    .material-icons {
      font-size: 1.7em !important;
    }
  }
  .owl-prev:hover , .owl-next:hover {
    background-color: rgba($color: #000000, $alpha: 0) !important;
  }
  .owl-next {left: 92% !important;}
  .owl-prev {right: 92% !important;}
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {

}
@media (width: 768px) {
  .owl-next {left: 91% !important;}
  .owl-prev {right: 91% !important;}
  .owl-next , .owl-prev {
    .material-icons {
      font-size: 2em !important;
    }
  }
}
// Medium devices (tablets, 768px and up)
@media (min-width: 769px) and (max-width: 991.98px) {
  
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1024.98px) {
  .owl-next {left: 94% !important;}
  .owl-prev {right: 94% !important;}
  .owl-next , .owl-prev {
    .material-icons {
      font-size: 2.5em !important;
    }
  }
}
@media (min-width: 1025px) and (max-width: 1112.98px) {
  .owl-next {left: 92% !important;}
  .owl-prev {right: 92% !important;}
  .owl-next , .owl-prev {
    .material-icons {
      font-size: 3em !important;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1366px) {
  .owl-next {left: 91% !important;}
  .owl-prev {right: 91% !important;}
}
////////////CAROUSEL STYLES END/////////////////////

