<div class="container carousel-wrapper">
  <div class="row">
    <div class="col-12">
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let slide of slides">
          <ng-template carouselSlide [width]="200" [id]="slide.id">
            <div class="slides-box position-relative text-center">
              <div id="video{{slide.id}}" class="icon position-absolute text-center d-flex align-content-center">
                <div class="video-texty">
                  <div class="mat-headline">Lesson {{slide.id}}</div>
                  <div class="mat-body-1">{{slide.caption}}</div>
                </div>
                <div class="svg-icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="100.418" height="100.418" viewBox="0 0 100.418 100.418">
                    <g id="play-button" opacity="0.7">
                      <path id="Path_6" data-name="Path 6" d="M70.7,38.246,25.23,14.278a2.6,2.6,0,0,0-2.131-.093A1.6,1.6,0,0,0,22,15.6V63.535a1.6,1.6,0,0,0,1.1,1.413,2.588,2.588,0,0,0,2.129-.093L70.7,40.886a1.416,1.416,0,0,0,0-2.64ZM26.133,60.51V18.622L65.865,39.566Z" transform="translate(9.055 10.643)" fill="#fff"/>
                      <path id="Path_7" data-name="Path 7" d="M50.209,0a50.209,50.209,0,1,0,50.209,50.209A50.266,50.266,0,0,0,50.209,0Zm0,97.071A46.862,46.862,0,1,1,97.071,50.209,46.915,46.915,0,0,1,50.209,97.071Z" fill="#fff"/>
                    </g>
                  </svg>
                </div>
                
              </div>
              <img id="image{{slide.id}}" class="video-bg" [src]="slide.url" [alt]="slide.title" [title]="slide.title">

            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
</div>